*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
:root{
    --primary: #4f176b;
    --yellow: #FFBF00;
}
li{
    list-style: none;

}
.main{
    overflow-x: hidden;
}
body{
    overflow-x: hidden !important;
}


/* reusable class names */

.container{
    width: 80%;
    margin: auto;
    overflow-x: hidden !important;
}
.donate-btn{
    padding: 9px;
    display: inline-block;
    background: var(--yellow);
    border: 0;
    outline: none;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}
.left-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-btn h3{
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
    margin-right: 30px;
}
.main-btn{
    outline: none;
    background-color: transparent;
    padding: 8px 23px;
    border: 1px solid #efefef;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s background;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-btn i{
    margin-left: 10px;
    font-size: 16px;
    margin-top: 3px;
}

nav ul li{
    color: #fff;
    font-size: 18px;
    margin-right: 25px !important;
}
nav ul li:hover{
    color: #c370f0;
}



        /* homepage */

#home{
    min-height: 100vh;
    background-color: var(--primary);
    padding-bottom: 25px;
}

nav{
    padding: 20px 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}
nav img{
    width: 80px;
    padding-top: 20px;
    cursor: pointer;
}

nav .tor-logo button{
    position: absolute;
    top: 10px;
    left: 160px;
}
nav ul li{
    display: inline-block;
    margin-right: 12px;
    letter-spacing: 0.5px;
    cursor: pointer;
}

#menu{
    width: 25px;
    cursor: pointer;
    margin-top: 8px;
    display: none;
}


@media screen and (max-width: 700px) {
    .left-btn{
        display: none;
    }
    nav{
        position: relative;
    }
    .donate-btn{
        margin-top: 10px;
        margin-left: -45px;
        padding: 10px 26px;
    }
    nav img{
        width: 50px;
    }
    .lang-btn{
        margin-top: 25px;
        margin-bottom: 25px;
        cursor: pointer;
    }
    nav ul{
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: #4f176b;
        backdrop-filter: blur(10px);
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        margin-bottom: 30px;
    }

    .main-btn{
        background-color: var(--primary);
        margin-top: 15px;
        padding: 8px;
        font-size: 15px;
        margin-right: 10px;
    }
    .main-btn:hover{
        border: 1px solid var(--primary);
    }
    #menu{
        display: inline-block;
        margin-right: 25px;
        padding: 0;
    }
    nav .tor-logo button{
        display: none;
    }
   
}




.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    color: #fff;
}
.banner-heading{
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 15px;
}
.banner-description{
    margin: 25px 0;
    font-size: 28px;
}
.banner .main-btn{
    margin-top: 30px;
    font-size: 18px;
}
.main-btn:hover{
    background-color: #fffdfd;
    color: #7D4698;
}

@media screen and (max-width: 700px) {
    .banner-heading{
        font-size: 48px;
        text-align: center;
    }
    .banner-description{
        font-size: 23px;
        margin: 10px 0;
        line-height: 34px;
        text-align: center;
    }
}









#about, #more-about, #footer{
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 25px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.col{
    flex-basis: 45%;
}
.col .img{
    width: 100%;
}

.col h2{
    color: var(--primary);
    font-size: 28px;
    margin-bottom: 15px;
}
.col p{
    font-size: 1.3rem;
    color: #212529;
    line-height: 2rem;
}

@media screen and (max-width: 700px) {
    .col{
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .row{
        align-items: center;
    }
    .col h2{
        font-size: 20px;
    }
    .col p{
        font-size: 18px;
        line-height: 1.6rem;
    }
    .first{
       order: 0;
    }
    .second{
        order: 1;
    }
}






#more-about h3{
    color: var(--primary);
    font-size: 32px;
    margin-bottom: 25px;
}
#more-about p{
    font-weight: 0.1rem;
    font-size: 62px;
    color: #424242;

}
#more-about p span{
    color: var(--primary);
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    #more-about h3{
        font-size: 24px;
    }
    #more-about p{
        font-size: 29px;
    }
    #more-about p span{
        color: var(--primary);
        font-size: 26px;
    }
}






.footer{
    background-color: var(--primary);
    color: #fff;
    min-height: 100vh;
    padding: 30px 0px;
}
.footer .top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .top .img-col img{
    width: 800px;
    height: auto;
    margin-left: 0px;
    margin-left: -440px;
    margin-top: -50px;
}
.footer .top .text-col h1{
    font-size: 39px;
    margin-bottom: 15px;
}
.footer .top .text-col h4{
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 25px;
}
.text-col{
    flex-basis: 60% !important;
    margin-left: 200px;
    margin-top: 76px;
}

.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.bottom .right-col{
    flex-basis: 50%;
}
.bottom .right-col h5{
    font-size: 29px;
    margin-bottom: 15px;
    letter-spacing: 2px;
}
.bottom .right-col p{
    font-size: 22px;
    line-height: 30px;
    max-width: 500px;
    color: #b4afaf;
}
.bottom .left-col{
    margin-top: 30px;
}

.bottom .left-col ul li{
    margin-bottom: 15px;
    font-size: 18px;
    cursor: pointer;
    transition: letter-spacing 0.5s;
}
.bottom .left-col ul li:hover{
    letter-spacing: 1.6px;
}



@media screen and (max-width: 700px) {
    .footer .top .img-col {
        display: none;
    }
    .footer .text-col{
        flex-basis: 100%;
        margin-left: 0px;
        margin-top: 76px;
        width: 100%;
    }
    .container{
        width: 85%;
    }
    .footer{
        padding-bottom: 30px;
    }
    .footer .bottom{
        flex-wrap: wrap;
    }
    .footer .bottom .right-col{
        flex-basis: 100%;
        padding: 0 30px;
    }
    .footer .left-col ul{
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }
    .footer .left-col{
        padding: 0 30px;
    }
    .footer .left-col .donate-btn{
        margin: 0 30px;
    }
}